@media screen and (max-width: 520px) {
    .body {
        width: 100%;
        margin: 0 auto;
    }

    /* Header */
    .header-nav {
        right: 0;
    }

    .dropdown-menu {
        inset: unset !important;
        transform: unset !important;
    }
    .header__greetings-descr {
        padding-left: 50px;
        padding-right: 50px;
        width: 100%;
    }
    .header__container-greetings {
        text-align: center;
    }
    .header__greetings-h1 {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 28px;
    }
    /* Our Story */
    .section-our-story__container {
        flex-direction: column;
    }
    .section__story-img {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .section-story-content{
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .section__story-p {
        text-align: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    /* Expertise Section */
    .section-expertise__header {
        margin-bottom: 60px;
    }
    .section-espertise__card {
        width: 50%;
        margin-bottom: 40px;
    }
    .section-espertise__card:last-child {
        margin-bottom: 0;
    }
    .section-sxpertise-content__descr-card {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
    }
    .section-expertise__content {
        flex-direction: column;
        align-items: center;
    }
    .none-bottom {
        margin-bottom: 40px;
    }

    /* Our Team */
    .section-meet-team__header {
        text-align: center;
    }
    .section-meet__our-team {
        align-items: center;
        flex-direction: column;
    }
    .person {
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    /* Our Works */
    .section-our-works__photo-board {
        justify-content: center;
        width: 99%;
    }

    .section-our-works-h2 {
        text-align: center;
    }

    .section-meet-team__span {
        padding: 0 50px 0 50px;
    }

    .section-meet-team__h2 {
        padding: 0 50px 0 50px;
    }
    .section-our-works__header-a {
        text-align: center;
    }
    
    /* Reviews */
    .section-reviews__slider-content-p {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    /* Section People Say */
    .section-people-say {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .section-people-say-h2 {
        padding-left: 0;
        position: relative;
        left: 70px;
    }
    .section-people-say__form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    .people-say-img-container-1 {
        margin-left: 0;
        align-items: flex-start;
    }
    .people-say__input-form {
        width: 250px;
    }

    .text-area-people-say {
        width: 250px;
    }

    .img-client-two {
        margin-bottom: 53px;
    
    }
    .people-say-img-container {
        margin-left: 0;
        position: relative;
        top: 72px;
    }
    /* Footer */ 
    .footer__content-container {
        flex-direction: column;
        padding-top: 30px;
        align-items: center;
        margin-bottom: 40px;
    }
    .footer__logo {
        justify-content: center;
    }
    .footer__logo-text {
        margin-right: 0;
        width: 100%;
        padding: 0 10px;
    }
    .footer__contacts {
        width: 70%;
        margin-right: 0;
        padding: 0 10px;
        align-items: center;
        margin-bottom: 27px;
    }
    .footer__contacts-header {
        text-align: center;
        margin-bottom: 27px;
    }
    .footer__descr {
        text-align: center;
    }
    .footer__contacts-addres {
        text-align: center;
    }   
    .footer__form-and-socials {
        align-items: center;
    }
    .footer__another {
        text-align: center;
        flex-direction: column;
    }
}